 /* Estilos para as páginas */
 .page {
    display: none;
    animation: fadeIn 1s ease forwards;
}

/* Animação de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*menu*/
#menuToggle {
    display: block;
    position: relative;
    top: 440px;
    left: 20px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a {
    text-decoration: none;
    color: #212121;
    font-weight: 800;
    line-height: 5px;
    transition: color 0.3s ease;
    font-family: 'Inter', sans-serif;
  }
  .clique {
      color: #017c16;
      font-weight: 900;
  }
  
  #menuToggle a:hover{
    color: rgb(245, 242, 241);
  }
  
  
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #888bed;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #888bed
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: rgba(187, 152, 243, 0.76);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li {
    padding: 10px 0;
    font-size: 16px;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
.contato {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  color: #212121;
  font-weight: 900;
}
.linhamenu {
  border: 2px solid #dad7d7;
  margin-bottom: 4px;
}
/* fonts */

.fonts {
    font-family: 'Croissant One', cursive;
}

.active {
    display: block;
}

#page1 {
    background-image: url(../img/imagem-principal.png);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;

}

#page2 {
    background-image: url(../img/imagem-principal2.png);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;

}

#page1 button {
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 500px;
    position: relative;
}
#page1 p {
    letter-spacing: 1px;
    text-align: center;
    top: 430px;
    position: relative;
    font-family: 'Croissant One', cursive;
}
#page2 button {
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50px;
    position: relative;
}
#page2 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 650px;
    position: relative;
    text-align: center;
    font-family: 'Croissant One', cursive;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

#ilha {
    margin-top: 50px;
}

#caminho {
    margin-top: 80px;
}

body {
    margin: 0;
    padding: 12px;
}

.linha {
    border: 1px solid #e1dfdf;
    margin-top: 550px;

}



@media (min-width: 992px) {
    #ilha {
        margin-top: 100px;
    }
    #page2 button {
        letter-spacing: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 100px;
        position: relative;
    }
    #page2 p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 580px;
        position: relative;
        text-align: center;
        font-family: 'Croissant One', cursive;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 18px;
    }
    }
    
