

.masthead {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    text-align: center;
    color: #f56cac;
    font-size: 20px;
    background-image: url("../img/img/imagem-principal-novo-site.webp");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    
}

.texto-abre {
font-size: 20px;
color: rgb(91, 90, 90);
font-weight: 500;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#footer {
    font-size: 12;
    color: blue;
    text-align: center;
}
