@charset "UTF-8";
/*font family*/
  body {
    font-family: 'Changa', sans-serif;
}
/*paleta de cores*/
.primary-color {
    color: #005e00;
}
.secondary-color {
    color:#499950;
}
.third-color {
    color: #fff;
}
.bg-primary-color {
    background-color: rgba(1, 83, 8, 0.2);
}
.bg-secondary-color {
    background-color: #a6ff7d;
}
/* nav */
#navbar {
    margin-top: -440px;
}
#navbar a:hover {
    color: rgb(22, 22, 21);
    font-weight: 900;
}
#navbar .active {
    border-bottom: 1px solid rgb(0, 0, 0);
}
#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #005e00;
}
#navbar-items .nav-items {
    margin: 0 1em;
}
.navbar-toggler {
    color: #fff;
    background-color: #005e00;
    margin-left: auto;
    margin-right: auto;
}
.nav-item {
    margin-left: 15px;
}
.masthead {
    background-image: url("img/img-principal-1.webp");
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 26rem;
    width: 100%;
}
.nome {
    margin-top: 90px;
    text-align: center;
}
.nome p {
    margin-top: -10px;
}
.masthead .nome {
    font-weight: 900;
    margin-top: 200px;
}
.footer0 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 90px;
    padding-left: 5px;
    font-size: 18px;
}
.footer1 {
    text-align: center;
    margin-top: 80px;
}
.footer1 h6 {
    font-size: 14px;
}
@media (min-width: 375px) {
    .masthead {
        padding-top: 5rem;
        padding-bottom: 44rem;
        height: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 425px) {
    .masthead {
        padding-top: 5rem;
        padding-bottom: 38rem;
        width: 100%;
    }
}
@media (min-width: 768px) {
/* nav */
#navbar {
    margin-top: -940px;
}
    .masthead {
        padding-top: 5rem;
        padding-bottom: 68rem;
        width: 100%;
    }
    .nome {
        margin-top: 290px;
        text-align: center;
    }
    .nome p {
        margin-top: -10px;
    }
    .footer0 {
        text-align: center;
        padding-bottom: 10px;
        padding-top: 190px;
        padding-left: 5px;
        font-size: 28px;
    }
    .footer1 {
        text-align: center;
        margin-top: 240px;
    }
}
@media (min-width: 1024px) {
    /* nav */
    #navbar {
        margin-top: -1200px;
    }
        .masthead {
            padding-top: 5rem;
            padding-bottom: 68rem;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
        }
        .nome {
            margin-top: 490px;
            text-align: center;
        }
        .nome p {
            margin-top: -10px;
        }
        .footer0 {
            text-align: center;
            padding-bottom: 10px;
            padding-top: 190px;
            padding-left: 5px;
            font-size: 28px;
        }
        .footer1 {
            text-align: center;
            margin-top: 290px;
        }
    }
@media (min-width: 1400px) {
     /* nav */
     #navbar {
        margin-top: -1680px;
    }
        .masthead {
            padding-top: 5rem;
            padding-bottom: 98rem;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
        }
        .nome {
            margin-top: 490px;
            text-align: center;
        }
        .nome p {
            margin-top: -10px;
        }
        .footer0 {
            text-align: center;
            padding-bottom: 10px;
            padding-top: 190px;
            padding-left: 5px;
            font-size: 28px;
        }
        .footer1 {
            text-align: center;
            margin-top: 760px;
        }
}
