.content { float:left; width:92%; margin:0 4%; padding: 20px 0; }

/*BTN*/
.btn-download       { background-color:#ee2727; color:#fff; border-radius: 50px; font-family: 'open_sansregular'; padding: 0.5em 0.8em; display:block; float: none; text-decoration: none; margin: auto; width:100%; font-size: 1.5em; text-align: center; line-height: 40px; }
.btn-download:hover { background-color:#d00f0f; color:#fff; }

/*HEADER*/
.header {
    background-color: rgb(14, 93, 117);
    padding: 10px;
    text-align: center;
}
/*menu*/
#btn-menu {
    cursor: pointer;
    padding: 5px;
    transition: all .5s;
    border-radius: 50%;
}
#btn-menu:hover {
    cursor: pointer;
    background-color: rgb(247, 72, 9);
}
#btn-menu:active {
    cursor: pointer;
    background-color: rgb(6, 20, 24);
}
#btn-close {
    padding: 10px;
    background-color: #fff;
    color: rgb(14, 93, 117);
    font-weight: 800;
    font-size: 20px;
}
#btn-close:active {
    background-color: rgb(243, 199, 183)
}
.menu {
    position: fixed;
    top: 0;
    width: var(--menu-size);
    height: 100%;
    background-color: coral;
}
.menu ul {
    margin-top: 50px;
    list-style: none;
    color: #fff;
    text-align: center;
}
.menu ul li {
    display: block;
    color: #fff;
}
.menu ul li a {
    transition: background .3s;
    display: block;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 15px;
}
.menu ul li a:hover {
    background-color: rgb(14, 93, 117);
}

.effect {
    transition: margin .4s;
}

/*Seu Código*/

.bgpreto   { background-color:#18140e; }
.bgverde   { background-color:#0acbd1; }
.bgamarelo { background-color:#353100; }
.bgazul    { background-color:#459fff; }
.bglaranja {background-color: rgb(221, 125, 90);}
.bgazulforte {background-color: #06213d;}
.bgvioleta {background-color: rgb(96, 62, 128);}
.bgverdeescuro {background-color: rgb(33, 58, 8);}

.section-seu-codigo          { padding:10px 0px; }
.section-seu-codigo .content { float:left; padding:1em 0; }
.section_title               { width: 100%; float:left; margin-bottom:1em; font-size:1.3em; color:#ffffff; font-weight: 300; text-align: center; border-bottom: 1px #eceaea solid; padding-bottom: 1em; }

.box-artigo   { width:100%; float:left; padding:1em; }

/*Seu Download*/
.section-seu-download          { padding:10px 0px; background-color:#f4f4f4; }
.section-seu-download .content { float:left; padding:1em 0; }
.box-download                  { width:100%; float:left; background:transparent; padding:1em; }

/*FOOTER*/
.main_footer          { background-color:#353535; color:#fff; font-size:0.875em; }
.main_footer .content { padding:3em 0em; }

.main_footer_copy       { background-color:#262626; width:100%; float:left; text-align:center; padding:1.5em 0em; }
.main_footer_copy p     { font-family:'open_sanslight'; font-size:1em; color:#e1e0e0; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }


/*Começa o Responsivo*/

/*480PX BREAKPOINT*/
/*480 dividido por 16 = 30em*/
@media (min-width:30em){

.boxBannerTopo { padding:1em 0; }

}

/*600PX BREAKPOINT*/
/*600 dividido por 16 = 37,5em*/
@media (min-width:37em){


} 

/*768PX BREAKPOINT*/
/*768 dividido por 16 = 48em*/
@media (min-width:48em){


} 

/*960PX BREAKPOINT*/
/*960 dividido por 16 = 60em*/
@media (min-width:60em){

 .section-seu-codigo          { padding:100px 0px; }
 .section-seu-codigo .content { width:80%; padding:1em 0; margin:0 10%; }

.btn-download { width:35%; }

}

/*1280PX BREAKPOINT*/
/*1280 dividido por 16 = 80em*/
@media (min-width:80em){

 
}

/*1366PX BREAKPOINT*/
/*1366 dividido por 16 = 85,375em*/
@media (min-width:85em){

 .content  { width:80%; margin:0 10%; }

}

/*1600PX BREAKPOINT*/
/*1600 dividido por 16 = 100em*/
@media (min-width:100em){


}
/*Fecha o Responsivo*/
