@charset "UTF-8";
/*font family*/
Body {
    font-family: 'Roboto Slab', serif;
}
/*fotos circulos*/
.page-section h2.section-heading {
    font-size: 2.5rem;
    text-align: center;
}
.page-section {
    padding: 6rem 0;
}
.team-member h6 {
 margin-top: 10px;
 text-align: center;
 font-weight: 400;
 margin-left: 15px;
}
.team-member img {
    width: 6rem;
    height: 6rem;
    border: 0.3rem solid rgba(192, 163, 32, 0.6);
}
.rounded-circle {
    border-radius: 50% !important;
}
.team-member img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: rgba(98, 137, 85, 0.8);
}
#circulos {
    margin-top: 50px;
}
#duvidas {
  margin-top: -20px;
}
.fachada {
  text-align: center;
  font-weight: 500;
  margin-top: -10px;
}
  /*nav*/
  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a {
    text-decoration: none;
    color: #cecaca;
    
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover{
    color: tomato;
  }
  
  
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fdfdfa;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  /*endereco*/
  #endereco h4, h5, p {
    text-align: center;
  }
  #endereco h4 {
    margin-top: 20px;
  }
#fachada {
  margin-top: 50px;
}
#valor h4, p {
  text-align: center;
}
#valor h4 {
  margin-top: 20px;
}
.fa-money-bill {
  font-size: 70px;
}
.fa-hand-paper {
  font-size: 70px;
}
.fa-scroll-old {
  font-size: 70px;
}
#top {
  background-image: url(../Imagens/Sao-paulo.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 1rem;
  padding-bottom: 6rem;
}


@media (min-width: 768px) {
    .team-member img {
        width: 10rem;
        height: 10rem;
    }
}
@media (min-width: 1024px) {
    .team-member img {
        width: 14rem;
        height: 14rem;
    }
}
  

